* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.header {
  padding-top: 15px;
  margin-bottom: 15px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-block__logo {
  margin-right: 20px;
}

.header-block__info {
  font-size: 13px;
  margin-right: 25px;
}

.header-block__phone {
  font-size: 15px;
}

.header-block__time {
  margin-bottom: 5px;
}

.header-block__question {
  margin-bottom: 5px;
}

@font-face {
  font-family: 'Geometria Regular';
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Medium';
  src: url("../fonts/Geometria-Medium.eot");
  src: url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Bold';
  src: url("../fonts/Geometria-Bold.eot");
  src: url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #284157;
  font-family: 'Geometria Regular', sans-serif;
  font-size: 16px;
}

button:focus, input:focus, textarea:focus, a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.text-bold {
  font-family: 'Geometria Bold', sans-serif;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Geometria Bold', sans-serif;
  text-align: center;
}

.section__title {
  margin-bottom: 70px;
}

.section__description {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.section-description {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.button {
  padding: 19px 33px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#fb2b2b), to(#f86c26));
  background: linear-gradient(to right, #fb2b2b, #f86c26);
  font-family: 'Geometria Medium', sans-serif;
}

.button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, right top, from(#fb2b2b), to(#f86c26));
  background: linear-gradient(to top right, #fb2b2b, #f86c26);
}

@media (max-width: 576px) {
  .button {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.title {
  background: url("../img/banner.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
  padding: 60px 0;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-info {
  color: #ffffff;
}

.title-info__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 200px;
}

.title-info__title {
  margin-bottom: 40px;
  font-size: 36px;
  font-family: 'Geometria Bold', sans-serif;
}

.title-info__material {
  margin-bottom: 40px;
  font-size: 18px;
  font-family: 'Geometria Medium', sans-serif;
}

.title-info__place {
  font-size: 16px;
}

.title-info__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-info__text {
  margin-right: 100px;
  font-size: 14px;
  font-family: 'Geometria Medium', sans-serif;
}

.title-info__text:last-child {
  margin-right: 0;
}

.title-info__regular {
  font-family: 'Geometria Regular', sans-serif;
  font-size: 12px;
}

.title-form {
  margin-right: 10px;
}

.title-content {
  background: url("../img/form.png") center no-repeat;
  background-size: cover;
  width: 369px;
  height: 417px;
  margin-right: -10px;
}

.title-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-content__title {
  margin-top: 70px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 35px;
}

#title-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  padding: 17px;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
}

.input-name {
  margin-bottom: 10px;
}

.input-phone {
  margin-bottom: 15px;
}

.price {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #284157;
  padding: 10px 14px;
  font-family: 'Geometria Medium', sans-serif;
  cursor: pointer;
  border: 2px solid transparent;
  margin-right: 10px;
}

.price__link:last-child {
  margin-right: 0;
}

.active__link {
  border: 2px solid #284157;
  border-radius: 5px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.card__title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

.card__description {
  margin-bottom: 8px;
  font-size: 14px;
}

.card__button {
  margin-top: 25px;
}

.d-none {
  display: none;
}

.portfolio {
  background: url("../img/portfolio/portfolio.jpg") center no-repeat;
  background-size: cover;
  height: 1439px;
}

.portfolio-input {
  height: 60px;
  width: 270px;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  padding: 25px;
  margin-right: 30px;
}

.portfolio-button {
  height: 60px;
  width: 270px;
}

.portfolio-form {
  margin-top: 55px;
  padding: 70px 0;
  padding-left: 100px;
  background-color: #fff;
}

.portfolio-form__title {
  font-size: 22px;
  font-family: 'Geometria Bold', sans-serif;
}

.portfolio-form__description {
  margin: 45px 0;
  font-size: 16px;
}

.portfolio-slide {
  position: relative;
}

.portfolio-slide__img {
  height: 245px;
  width: 370px;
}

.portfolio-slide__overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-slide__overlay:hover {
  background: url("../img/portfolio/plus.png") center no-repeat;
  cursor: pointer;
  background-color: #66cf66;
  opacity: 0.8;
}

.portfolio-container {
  position: relative;
}

.portfolio-container__two {
  position: relative;
}

.carousel-btn {
  position: absolute;
  cursor: pointer;
  top: 71%;
  border: none;
  outline: none;
}

#test-left {
  background: url("../img/left.png") center no-repeat;
  left: 9px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
}

#test-right {
  background: url("../img/right.png") center no-repeat;
  right: 15px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
}

.carousel-btn__two {
  position: absolute;
  cursor: pointer;
  top: 28%;
  border: none;
  outline: none;
}

#test-left__two {
  background: url("../img/left.png") center no-repeat;
  left: 9px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
}

#test-right__two {
  background: url("../img/right.png") center no-repeat;
  right: 15px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
}

.portfolio-container {
  overflow: hidden;
  padding: 0;
}

.portfolio-container__two {
  overflow: hidden;
  padding: 0;
}

.portfolio-slider {
  padding: 0;
}

.portfolio-slider__two {
  padding: 0;
}

.house-layout {
  background: url("../img/house.png") center no-repeat;
  height: 450px;
  margin-top: 75px;
}

.material {
  background-color: #284157;
}

.material-title {
  color: #ffffff;
}

.material-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.material-block {
  color: #ffffff;
  text-align: center;
}

.material-name {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 14px;
  font-family: 'Geometria Medium', sans-serif;
}

.material-description {
  text-decoration: underline;
  color: #ffffff;
}

@media (max-width: 576px) {
  .material-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.deadline {
  background: url("../img/deadline.jpg") center no-repeat;
  height: 780px;
}

.deadline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 45px;
}

.deadline-block:last-child {
  margin-bottom: 0;
}

.deadline-img {
  margin-right: 30px;
}

.deadline-text {
  width: 576px;
  max-width: 100%;
}

.deadline-text__title {
  margin-bottom: 20px;
  font-size: 16px;
}

.deadline-text__description {
  font-size: 12px;
}

.director-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.director-block__name {
  font-size: 20px;
  font-family: 'Geometria Bold', sans-serif;
  margin-bottom: 30px;
}

.director-block__description {
  font-size: 16px;
  font-family: 'Geometria Medium', sans-serif;
  margin-bottom: 75px;
}

.director-block__connect {
  font-size: 16px;
  font-family: 'Geometria Medium', sans-serif;
  margin-bottom: 30px;
}

.director-block__tel {
  font-size: 18px;
  font-family: 'Geometria Bold', sans-serif;
  color: #284157;
}

.director-img {
  position: relative;
  margin-right: 30px;
}

.director-video {
  position: absolute;
  top: 0;
  left: 100px;
}

@media (max-width: 991px) {
  .director-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .director-text {
    margin-top: 30px;
  }
}

.face {
  background-color: #ebf3fa;
}

.face-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.face-block {
  text-align: center;
}

.face-block__title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Geometria Medium', sans-serif;
}

.face-block__description {
  font-size: 14px;
  margin-bottom: 25px;
  font-family: 'Geometria Medium', sans-serif;
}

.face-block__info {
  background: url("../img/faceText.png") center no-repeat;
  background-size: cover;
  height: 235px;
  width: 370px;
  max-width: 100%;
}

.face-block__block {
  padding-top: 30px;
}

.face-block__text {
  font-size: 14px;
  font-family: 'Geometria Medium', sans-serif;
  margin-bottom: 18px;
}

.face-block__text:last-child {
  margin-bottom: 0;
}

.question {
  background: url("../img/question.jpg") center no-repeat;
  height: 748px;
  color: #ffffff;
}

.question-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.question-item__number {
  width: 30px;
  height: 30px;
  background: transparent;
  text-align: center;
  padding-left: 3px;
  border-radius: 50%;
  padding-top: 5px;
  border: 1px solid #ffffff;
  margin-right: 20px;
}

.question-item__text {
  color: #ffffff;
  text-decoration: underline;
}

.consultation {
  padding-bottom: 70px;
}

.consultation-title {
  text-align: left;
  margin-left: 90px;
  font-size: 22px;
  margin-bottom: 40px;
}

.consultation-description {
  text-align: left;
  margin-left: 90px;
  font-size: 16px;
  margin-bottom: 45px;
}

.consultation-tel {
  font-size: 14px;
  font-family: 'Geometria Bold', sans-serif;
  color: #284157;
}

#consultation-form {
  margin-left: 90px;
  text-align: left;
  margin-bottom: 45px;
}

.footer-title {
  font-size: 22px;
  text-align: left;
  margin-bottom: 35px;
}

.footer-description {
  font-size: 16px;
  text-align: left;
  margin-bottom: 40px;
}

.footer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ebf3fa;
}

.footer-map {
  margin-right: 100px;
}

.footer-text__title {
  text-align: left;
}

.footer-text__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.footer-text__description:last-child {
  margin-bottom: 0;
}

.footer-text__img {
  margin-right: 25px;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}
/*# sourceMappingURL=style.css.map */